{% extends 'extend_temp/extend_temp.html' %}
{% load static %}
{% block parent %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">注册</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
    <!--<div class="login-logo">
        <img src="images/logo.png" />
    </div>-->
    <div style="height: 3rem;"></div>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form.phone }}
        {{ form.errors.phone.0 }}
        {{ form.password }}
        {{ form.errors.password.0 }}
        {{ form.repassword }}
        {{ form.errors.repassword.0 }}
        <div class="yzm" style="margin-top: 1.5rem;">
            {{ form.verify }}
            <input type="button" class="yzm-hq" value="获取验证码"/>
        </div>
        {{ form.errors.verify.0 }}
        <input type="submit" class="login-btn" value="立即注册">
    </form>


    <div class="agree">
        <input type="checkbox" name="checkbox" value="同意" checked="">&nbsp;同意
        <a href="" class="xy">《用户协议》</a>
        <div class="r-login">已有账号，请<a href="{% url 'login:login_in_view' %}" class="l-login">登录</a></div>
    </div>
{% endblock %}
{% block footer %}
    <script>
        $('.yzm-hq').on('click', function () {
            {#1. 获取手机号码#}
            var phone = $('#id_phone').val();
            if (phone.length != 11) {
                alert('手机号码位数不正确')
                return false
            }
            {#console.log(phone)#}
            {#获取输入的输入验证码#}
            var input_verify_code = $('#id_verify').val()
            data = {
                "mobile": phone,
                "input_verify_code": input_verify_code,
                "csrfmiddlewaretoken": "{{ csrf_token }}"
            }
            that = this;
            $.post("{% url 'login:SendCodeView' %}", data, function (data) {
                {#data 为回调响应数据#}
                {#console.log(data.status)#}
                if (data.status == 200) {
                    //1.修改按钮颜色
                    $(that).attr('disabled', 'disabled');
                    $(that).css('background-color', 'grey');
                    var time = 60;
                    var msg = time + '秒后重新发送';
                    $(that).val(msg);
                    var timer = window.setInterval(function () {
                        --time;
                        if (time == 0) {
                            window.clearInterval(timer);
                            $(that).removeAttr('disabled');
                            $(that).css('background-color', '#76bb2a');
                            msg = 60 + '秒后重新发送';
                            $(that).val(msg)
                            return;
                        }
                        msg = time + '秒后重新发送';
                        $(that).val(msg)
                    }, 1000)

                }
                else {
                    alert(data.message)
                }
            })

        })
    </script>
{% endblock %}

</html>
